name: maven dependency review

on:
  pull_request:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.head_ref || github.ref_name }}
  cancel-in-progress: true

permissions: {}

jobs:
  dependency-submission-maven:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        include:
          - java-version: "17"
            java-distribution: "temurin"

    steps:
      - name: checkout repository
        uses: actions/checkout@v6
        with:
          persist-credentials: false

      - name: "Dependency Review"
        uses: actions/dependency-review-action@v4
